/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */

.container {
  margin: auto;
  width: 70%;
  max-width: 2000px;
  min-width: 1200px;
  text-align: center;

  font-family: 'Fredoka', sans-serif;
}

.container::after {
  content: '';
  clear: both;
  display: table;
}

/* GENERICS*/

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  
  color: #cc3366;
  font-size: 50px;
}

.text {
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 22px;
}

/* GENERICS THUMBNAIL */

.thumbnail {
  background-color: #0F0E17;
  text-align: left;
  min-width: 195px;
  
}

.image {
  vertical-align: middle;
  width: 150px;
}

.description {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
}

.name {
  display: block;
  margin-bottom: 6px;

  font-weight: bold;
  font-size: 20px;
  color: white;
}

.role {
  display: block;
  margin-bottom: 6px;

  font-size: 18px;
  color: white;
}

.email {
  display: block;

  color: #2AB2EC;
}

/* GRID */

.row {
  margin: 0 -10px;
}

.colum {
  width: calc(100%/3);
  padding: 10px;
  float: left;
}

